<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PdfRendering · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= @css %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
